# deps
node_modules
.pnpm-store

# next
.next
out

# env
.env
.env.local
.env.*.local

# ide
.idea
.vscode
*.swp
*.swo

# misc
.DS_Store
*.log
*.tsbuildinfo
next-env.d.ts

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
